<div class="subcontact">
    <h2>CONTATO</h2>
    <div class="contact-form">
        <form method="post" action="/contato/" class="ajaxform">
            <div class="ok-message">
                <p>MENSAGEM ENVIADA COM SUCESSO</p>
                <p>Em breve retornaremos.</p>
                <p>Agradecemos seu contato.</p>
            </div>
            <div class="error-message">
                <p>ERRO</p>
                <p class="message"></p>
            </div>
            <input type="text" name="bot" value="" class="dn" />
            <input type="text" placeholder="Seu nome" id="c-name" name="name" />
            <input type="text" placeholder="Cidade - Estado" id="c-location" name="location" />
            <input type="email" placeholder="E-mail" id="c-email" name="email" />
            <input type="text" placeholder="Telefone" id="c-phonenumber" name="phone" />
            <textarea name="message" id="c-message" placeholder="Deixe aqui sua mensagem"></textarea>
            <input type="submit" value="Enviar" class="submit" />
            <img src="/front/img/loading.GIF" class="load loading">
        </form>
    </div>
</div>
<div id="canvas"></div>
