/* 
    Document   : login
    Created on : Oct 1, 2012, 11:07:45 AM
    Author     : mariosmello
    Description:
        Purpose of the stylesheet follows.
*/

.datatable {
  width: 100%;
  margin: 20px 0 0 0;
}

.datatable_widget {
  width: 48%;
  margin: 0;
}

.titulo_widget {
  width: 48%;
  font-size: 18px;
  padding: 10px 0 5px 10px;
}

.datatable thead {
  background-color:#E6ECEF;
  background-image:-webkit-linear-gradient(top, #E6ECEF, #D0D6DA);
  border-color:#BAC5CC;
  color:#333333;
  text-shadow:#FFFFFF 0 1px 0;
}

.datatable thead th {
  padding: 10px 0;
}

.datatable .typeCheck {
  width: 45px;
  text-align: center;
}

.datatable .typeStatus {
  width: 90px;
  text-align: center;
}

.datatable .typeDate {
  width: 110px;
  text-align: center;
}

.datatable .typeOrder {
  width: 110px;
  text-align: center;
}

.datatable .typeOrder .selector {
  width: 50px!important;
}

.datatable .typeOrder .selector span {
  width: 25px!important;
}

.datatable .typeOrder .selector select {
  width: 50px!important;
  text-align: center!important;
}

.datatable tbody td {
  padding: 8px 0;
}

.datatable tbody tr:hover {
  background-color: #E6ECEF!important;
  cursor: default;
}

.datatable tbody tr.even {
  border-bottom: 1px solid #E1E5E7;
}

.datatable tbody tr.odd {
  background-color: #FAFAFA;
  border-bottom: 1px solid #D8DCDE;
}

.datatable tbody ul {
  position: relative;
  margin: 10px 0 0 0;
  visibility: hidden;
  font-size: 10px;
}

.datatable tbody ul.visible {
  visibility: visible;
}

.datatable tbody ul li {
  display: inline;
  padding-right: 7px;
  margin-right: 4px;
  border-right: 1px solid #000;
}

.datatable tbody ul li:last-child {
  border-right: none;
}

.datatable tbody ul li a {
}
.datatable tbody ul li a.lixeira_shortcut {
  color: #d34d27;
  cursor: pointer;
}
.datatable tbody ul li a:hover {
  text-decoration: underline;
}

.tablePagination {
  background-color:#1C5EA0;
  background-image:-webkit-linear-gradient(top, #1C5EA0, #064792);
  border-color:#064792;
  border-color:#BAC5CC;
  color:#fff;
  text-shadow:#000 0 1px 0; 
  padding: 15px 20px;
  overflow: hidden;
}

.tablePagination_info {
  float: left;
}

.tablePagination_btns {
  float: right;
}

.tablePagination_btns a {
  background-color: #DFE2E4;
  text-shadow: 0 1px 0 white;
  color: #333;
  border-bottom: 1px solid #AAA;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid #AAA;
  padding: 2px 6px;
  margin: 0;
  filter: none!important;
  line-height: 15px;
  cursor: pointer;
}

.tablePagination_btns a.active {
  background-color: #1C5EA0;
  color: #FFF;
  cursor: default;
}

.tablePagination_btns a.disabled {
  background-color: #DFE2E4;
  cursor: default;
  color: #777777;
}

.tablePagination_btns a:first-child {
  border-bottom-left-radius:3px;
  border-top-left-radius:3px;
}

.tablePagination_btns a:last-child {
  border-bottom-right-radius:3px;
  border-top-right-radius:3px;
}

#search_table {
  overflow: hidden;
  padding: 0 10px 20px 10px;
}

#search_table input[type="text"] {
  float: left;
  width: 120px!important;
  margin: 5px 15px 0 0;
  border: 1px solid #AAA;
  padding: 5px;
  -webkit-border-radius: 4px;
  border-radius: 4px;    
}

#search_table .selector {
  float: left;
  margin: 5px 15px 0 0;
}

div.noresult {
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-style: italic;
}

tr.del_pai {
  background-color: #FFCDCF!important;
}

#aovivo_lista {
  overflow: hidden;
  padding: 0 0 20px 20px;
}

#aovivo_lista li {
  width: 135px;
  height: 85px;
  font-size: 11px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
  float: left;
  margin: 20px 20px 0 0;
}

#aovivo_lista li.box_aovivo1 {
  background-color: #e3ffe1;
}
#aovivo_lista li.box_aovivo2 {
  background-color: #ffffe1;
}
#aovivo_lista li.box_aovivo3 {
  background-color: #ffe1e1;
}
#aovivo_lista li.box_aovivo1:hover {
  background-color: #d1fcd4;
}
#aovivo_lista li.box_aovivo2:hover {
  background-color: #fafcd1;
}
#aovivo_lista li.box_aovivo3:hover {
  background-color: #fcd1d1;
}

.noticias_widget_preview {
  width: 36px;
  height: 36px;
  display: block;
  background-image: url(/public/adm/images/preview_widget.png);
  margin: 10px auto;
}

.lista_log th {
  text-align:left;
  font-size:15px;
  padding:10px 0 10px 12px;
  background-color: #e3e9ed!important;
  border: 1px solid #ddd;
}

.lista_log td {
  font-size: 11px;
  padding:7px 0 7px 5px;
}

.lista_log_odd {
  background-color: #f1f5f7;
}

.lista_log_even {
  background-color: #e6eef4;
}

.lista_log_space {
  background-color: #fff;
}